* {
  margin: 0;
}

.blogim {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  border: 2px solid #f5356c;
  border-radius: 15px;
  height: 97vh;
  width: 95%;
  background-color: white;
}

.content {
  padding: 1px;
  background-color: #cccccc;
  margin: 0;
  width: 80%;
}