.navbar {
    background-color: #333333;
    padding-left: 5%;
    color: white;

}

h2 {
    padding: 15px;
}

nav {
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

header {
    background-color: #75a9fc;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

h1 {
    padding: 10px;
    font-size: 40px;
}