:root {
    --darkGreen: #4a885e;
    --lightGreen: #a0c3aa;
    --green: #71a37f;
    --yellow: #ffa628;
}

body {
    background-color: var(--darkGreen);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}